apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: devops
  name: deploy-devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops
  template:
    metadata:
      labels:
        app: devops
    spec:
      serviceAccount: sa-app
      containers:
      - image: localhost:5000/devops:v58
        name: test
        ports:
        - containerPort: 8080
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10  
